:root {
  --beige: #f6efe7;
  --dark: #3c5556;
  --green: #3c55568d;
  --coral: #e09789;
  --light-pink: #f5d4c3;
  --light-green: #c8dbd7;
  --light-blue: #e9f1ef;
  --faded-star: #7c81818d;

  --dark-blue: #547dac;
  --blue: #9fc0de;
  --orange: #f2c894;
  --dark-orange: #D06724;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAVIGATION BAR */

header {
  width: 100%;
  height: 10%;
  background-color: var(--beige);
  color: var(--dark-blue);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav > ul{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}

.nav-link {
  margin-left: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  background-color: var(--dark-blue);
  color: var(--beige);
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
}

#logo-img {
  font-size: 2.3rem;
  margin-right: 20px;
  color: var(--orange);
}

/* WELCOME SECTION */

main {
  width: 100%;
  height: 100%;
}

#welcome-section {
  padding: 50px 0;
  background-color: var(--beige);
}

.bubble {
  background-color: var(--dark-blue);
  margin: 100px 100px;
  padding: 50px;
  border-radius: 10px;
  color: var(--beige);
  display: flex;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin-right: 50px;
  min-width: 50%;
}

.accent-words {
  color: var(--orange);
}

.subtitle {
  font-size: 2rem;
}

.subtitle > p {
  margin-bottom: 40px;
}

.button {
  text-decoration: none;
  color: var(--dark-blue);
  background-color: var(--beige);
  padding: 10px 20px;
  border-radius: 25px;
  margin: 0px;
}

.resume {
  margin-right: 20px;
}

.button:hover {
  background-color: var(--orange);
  box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.623);
}

/* SKILLS */
#skills {
  background-color: var(--blue);
  color: var(--dark-blue);
  padding: 50px 0;
}

#skills > h1 {
  text-align: center;
  font-size: 4rem;
  color: #333;
}

#Skills {
  margin-top: 100px;
}

#Tools {
  margin-top: 100px;
}

.card {
  border: 3px solid #333;
}

.break {
  height: 1px;
  border: 1px solid #333;
  margin: 0px 170px;
}

.skills-cards, .tools-cards {
  margin: 100px 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  column-gap: 20px;
}

.skills-img > img, .tools-cards > img {
  width: 200px;
  height: 200px;
  background-color: var(--beige);
  padding: 20px;
  border-radius: 10px;
}

.skills-cards > .card:hover, .tools-cards > .card:hover {
  margin-top: -30px;
  transition: 0.3s;
}

.skills-cards > .card, .tools-cards > .card {
  width: 200px;
  height: 200px;
  background-color: var(--beige);
  padding: 20px;
  border-radius: 10px;
}

.skill-pic {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.card {
	width: 200px;
	height: 200px;
	perspective: 800px;
}

.card:hover .flip {
  transform: rotateY(180deg) translate3d(0,0,0);
}

.flip {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  perspective: 1000px;
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}

.front {
  z-index: 2;
  transform: rotateY(0);
}

.back {
  transform: rotateY(180deg);
}

.card-title {
  padding-top: 30px;
  font-size: 2rem;
}

.skill-level {
  position: absolute;
  top: 100px;
  left: 35px;
  font-size: 1.3rem;
}

.bash-stars {
  top: 120px;
}
.faded-star {
  color: var(--faded-star);
}

.skill-subtitle {
  text-align: left;
  margin-top: 5px;
}

/* PROJECTS */
#projects {
  background-color: var(--beige);
  color: var(--dark-blue);
  padding: 50px;
}

#projects > h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 100px;
}

.projects-cards {
  margin: 50px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project {
  width: 500px;
  height: 500px;
  border: 3px solid var(--dark-blue);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #333;
}

.project-pic {
  width: 100%;
  height: 250px;
  margin: 0px auto;
  object-fit: cover;
  border-radius: 2px;
}

#grizzbox-pic {
  object-position: 0% 20%;
}

#bashPortfolio-pic {
  object-position: 0% 10%;
}

#gitDocumentation-pic {
  object-position: 0% 20%;
}

#webPortfolio-pic {
  object-position: 0% 10%;
}

.project-title {
  margin-top: 20px;
  color: var(--dark-orange);
}

.project-description{
  margin-top: 10px;
  font-size: 1.1rem;
}

.view-project-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: var(--beige);
  color: #333;
  font-size: 30px;
  transform: rotate(-45deg);
  position: absolute;
  margin-top: 400px;
  margin-left: 400px;
}

.view-project-btn:hover {
  color: var(--beige);
  background-color: var(--dark-orange);
  border: 2px solid var(--orange);
  transition: 0.5s;
  cursor: pointer;
}

/* CONTACT */
#contact {
  background-color: var(--blue);
  color: #333;
  padding: 50px;
}

#contact > h1 {
  font-size: 3rem;
  text-align: center;
}

/* MEDIA */
@media (min-width: 600px) {
  /* I want to put the closed nav bar here when I learn it */
}

/* MOBILE */
@media (min-width: 608px) {
 
}

/* HALF SCREEN LAPTOP */
@media (min-width: 1008px) {
  
}

/* FULL LAPTOP */
@media (min-width: 1400px) {
  
}

/* MONITOR SIZE PLUS */
@media (min-width: 1800px) {
  
}
